/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain) */ /* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,
video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
    TYPOGRAPHIC GRID PROPERTIES:
    Base font-size: 24px
    Base line-height: 30px
    Modular Scale: 1.25
        https://www.modularscale.com/?24&px&1.25
*/

html {
  background: #454851;
  color: #EAE5E5;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; /* 24px */
  line-height: 1.25em; /* 30px  */
  text-align: left;
  padding: 0.8333333333333334em; /* 20px */
}

/* Heading element styles below */
h1,
h2,
h3,
h4 {
  padding-top: 0.4166666666666667em; /* 20px padding * .5 = 10px */
  padding-bottom: 0.4166666666666667em; /* 20px padding * .5 = 10px */
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 1.5625em;
  line-height: 1.875em; /* 30px * 1.5 = 45px */
  text-align: center;
  font-weight: bolder;
  padding-bottom: 0.4166666666666667em;
}
h2 {
  font-size: 1.875em;
  line-height: 1.5625em; /* 30px * 1.25 = 37.5px */
  text-align: center;
  padding-bottom: 0.4166666666666667em; /* 20px padding * .5 = 10px */
}
h3 {
  font-size: 1.5625em;
  line-height: 1.875em; /* 30px * 1.5 = 45px */
}
h4 {
  font-size: 1.25em;
  line-height: 1.5625em; /* 30px * 1.25 = 37.5px */
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 50vw;
  padding-right: 0.4166666666666667em; /* 20px padding * .5 = 10px */
  padding-bottom: 0.4166666666666667em; /* 20px padding * .5 = 10px */
}
ul,
ol {
  padding-left: 0.4166666666666667em; /* 20px padding * .5 = 10px */
}

/* Begin header properties */
#header {
  padding-bottom: 0.8333333333333334em; /* 20px = 20px padding */
  background: #545863;
  color: #FFFFFF;
}
.navigation-list a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: 0.20833333333333334em; /* 20px padding * .25 = 5px */
}
.nav-home:hover,
.nav-resume:hover,
.nav-studentorgs:hover {
  font-weight: bolder;
  background: #383B42;
  color: #FBB02D;
}
/* End header properties */

/* Begin footer properties */
#footer {
  padding: 0.8333333333333334em; /* 20px = 20px padding */
  background: #545863;
  color: #FFFFFF;
  font-size: 0.64em; /* 24px * .66 = 15.36px */
  line-height: 0.7999999999999999em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.4166666666666667em; /* 20px padding * .5 = 10px */
  margin-top: 0.8333333333333334em; /* 20px = 20px padding */
}
/* End footer properties */

/* Begin classes-section properties */
#classes {
  padding-top: 0.4166666666666667em; /* 20px padding * .5 = 10px */
  padding-bottom: 0.4166666666666667em; /* 20px padding * .5 = 10px */
}
.section-head h3 {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.27499999999999997em; /* 20px padding * .33 = 6.6px */
}
#classes h3 {
  font-size: 0.64em; /* 24px * .66 = 15.36px */
  line-height: 0.7999999999999999em;
  text-align: left;
  background-color: #383B42;
}
#classes ul {
  font-size: 0.512em; /* 24px * .5 = 12px */
  list-style-type: square;
  list-style-position: inside;
}
#coursework-f20,
#coursework-f21,
#coursework-s21 {
  background-color: #2F3137;
}
/* End classes-section properties */

/* Begin resume properties */
#contact ul {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  text-align: justify;
  text-decoration: none;
  background-color: #2F3137;
}
#contact a:hover {
  text-decoration: underline;
}
.section-head {
  font-weight: bold;
  font-size: 1.25em; /* 24px * 1.25 = 30px */
  line-height: 1.5625em;
}
#degree-school {
  font-weight: bold;
  font-style: italic;
}
#education h4 {
  padding-top: 0.4166666666666667em; /* 20px padding *.5 = 10px */
  font-weight: normal;
  font-size: 1em;
  line-height: 1.25em;
  text-decoration: none;
}
#education h4:hover {
  text-decoration: underline;
}
.student-orgs {
  font-size: 0.512em; /* 24px * .5 = 12px */
  list-style-type: square;
  list-style-position: inside;
  text-align: left;
}
.company-name b {
  font-style: normal;
  text-transform: capitalize;
  font-weight: lighter;
}
.title-duration {
  font-size: 0.7999999999999999em; /* 24px * .75 = 18px */
  line-height: 1em;
  font-style: italic;
  font-weight: lighter;
  padding-bottom: 0.4166666666666667em; /* 20px padding * .5 = 10px */
}
#work-experience details {
  font-size: 0.7999999999999999em; /* 24px * .75 = 18px */
  padding-bottom: 0.4166666666666667em; /* 20px padding * .5 = 10px */
}
.role-details li {
  list-style-type: square;
  list-style-position: inside;
  font-size: 0.512em; /* 24px * .5 = 12px */

}
/* End resume properties */

/* Begin studentorgs properties */
#student-orgs-group h2 {
  text-align: left;
}
/* End studentorgs properties */

/* Begin media queries */
@media screen and (min-width: 28.333333333333332em /* 680px */) {
  img {
    float: left;
  }
}
@media screen and (min-width: 39.166666666666664em/* 940px */) {
  #about-me
  p,
  img {
    float: none;
    display: flex;
    flex-direction: row;
  }
  img {
    max-width: 25%;
  }
}
/* End media queries */
