/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain) */ /* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,
video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
    TYPOGRAPHIC GRID PROPERTIES:
    Base font-size: 24px
    Base line-height: 30px
    Modular Scale: 1.25
        https://www.modularscale.com/?24&px&1.25
*/

html {
  background: #454851;
  color: #EAE5E5;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  padding: 30px;
}

/* Heading element styles below */
h1,
h2,
h3,
h4 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
}

h1 {
  font-size: 58.594px;
  line-height: 60px; /* 30px * 2 = 60px */
  text-align: center;
  font-weight: bolder;
  padding-bottom: 30px;
}
h2 {
  font-size: 46.875px;
  line-height: 52.5px; /* 30px * 1.75 = 52.5px */
}
h3 {
  font-size: 37.5px;
  line-height: 45px; /* 30px * 1.5 = 45px */
}
h4 {
  font-size: 30px;
}
a {
  text-decoration: none;
  color: #EAE5E5;
}
